<!-- HEADER -->
<app-header></app-header>

<!-- SECTION -->
<div class="lista">
    <h1>Minha Lista de Compras</h1>
    <div class="menu">
        <h2>Produtos</h2>
        <h2>Subtotal</h2>
    </div>
    <div class="carrinho">
        <div class="meusProdutos">
            <div class="produto">
                <img src="https://d3ugyf2ht6aenh.cloudfront.net/stores/746/397/products/maca-argentina1-a86acef532d11addf315221676880019-1024-1024.jpg" alt="Maça Argentina">
                <div class="dados">
                    <h3>Maça Argentina</h3>
                    <p>R$ 19,80</p>
                    <div class="qtdProduto">
                        <a href="#">-</a>
                        <p>1</p>
                        <a href="#">+</a>
                    </div>
                </div>
            </div>
            <div class="preco">
                <p>R$ 1.105,00</p>
                <a href="#">x</a>
            </div>
        </div>
        <div class="meusProdutos">
            <div class="produto">
                <img src="https://d3ugyf2ht6aenh.cloudfront.net/stores/746/397/products/maca-argentina1-a86acef532d11addf315221676880019-1024-1024.jpg" alt="Maça Argentina">
                <div class="dados">
                    <h3>Maça Argentina</h3>
                    <p>R$ 19,80</p>
                    <div class="qtdProduto">
                        <a href="#">-</a>
                        <p>1</p>
                        <a href="#">+</a>
                    </div>
                </div>
            </div>
            <div class="preco">
                <p>R$ 1.105,00</p>
                <a href="#">x</a>
            </div>
        </div>
        <div class="subtotal">
            <h3>Subtotal: </h3>
            <p>R$ 19,80</p>
        </div>
    </div>
</div>

<!-- FOOTER -->
<app-footer></app-footer>
